/**
 * @Author: Jecyu
 * @Date: 2017-10-27 11:38:08 pm 
 * @Modified By: JeCyu 
 * @Last Modified time: 2017-10-28 12:46:05 pm 
 */

body {
    font: 14px/1.5 tahoma arial Microsoft Yahei sans-serif; 
    background: rgb(235, 235, 235);
}

body, 
li,
ul, 
ol,div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

/* common style */
.w {
    width: 1000px;
}
.container {
    width: 100%;
}
.container .header {
    margin-top: 50px;
    text-align: center;
}

.container .header .header-title {
    font-size: 20px;
}

.container .header .header-info {
    font-size: 16px;
}

.btn-groups .btn-item {
    display: inline-block;
    margin-left: 5px;
}

.btn-item.active a{
    color: #fff;
    background: #722872;
}

.btn {
    display: inline-block;

    height: 20px;
    width: 50px;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 5px;

    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    color: #722872;
    background: #fff;     

    cursor: pointer;
    outline: none;
}

.btn:hover,
.btn:focus {
    color: #333;
}

