/**
 * @Author: Jecyu
 * @Date: 2017-10-28 5:16:13 pm 
 * @Modified By: JeCyu 
 * @Last Modified time: 2017-10-31 10:54:26 am 
 */
.page-wrap {
  margin: 40px auto;
  padding: 40px 0 40px;
  background: #5ccccc;
  background-size: 20px 20px;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 50%, transparent 50%, transparent); }

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border: 14px solid #ddd;
  border-radius: 50%;
  background: #eee;
  background-image: linear-gradient(to bottom right, #eee, #f5f5f5);
  box-shadow: 20px 20px 30px -10px rgba(0, 0, 0, 0.4), inset 10px 10px 20px rgba(0, 0, 0, 0.2); }
  .clock.dot:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #353535; }
  .clock .digit-list {
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 200px; }
    .clock .digit-list .digit-item {
      position: absolute;
      height: 240px;
      transform-origin: center center;
      transform-style: preserve-3d; }
      .clock .digit-list .digit-item:nth-child(1) {
        transform: rotateZ(30deg); }
        .clock .digit-list .digit-item:nth-child(1) .digit {
          transform: rotateZ(-30deg); }
      .clock .digit-list .digit-item:nth-child(2) {
        transform: rotateZ(60deg); }
        .clock .digit-list .digit-item:nth-child(2) .digit {
          transform: rotateZ(-60deg); }
      .clock .digit-list .digit-item:nth-child(3) {
        transform: rotateZ(90deg); }
        .clock .digit-list .digit-item:nth-child(3) .digit {
          transform: rotateZ(-90deg); }
      .clock .digit-list .digit-item:nth-child(4) {
        transform: rotateZ(120deg); }
        .clock .digit-list .digit-item:nth-child(4) .digit {
          transform: rotateZ(-120deg); }
      .clock .digit-list .digit-item:nth-child(5) {
        transform: rotateZ(150deg); }
        .clock .digit-list .digit-item:nth-child(5) .digit {
          transform: rotateZ(-150deg); }
      .clock .digit-list .digit-item:nth-child(6) {
        transform: rotateZ(180deg); }
        .clock .digit-list .digit-item:nth-child(6) .digit {
          transform: rotateZ(-180deg); }
      .clock .digit-list .digit-item:nth-child(7) {
        transform: rotateZ(210deg); }
        .clock .digit-list .digit-item:nth-child(7) .digit {
          transform: rotateZ(-210deg); }
      .clock .digit-list .digit-item:nth-child(8) {
        transform: rotateZ(240deg); }
        .clock .digit-list .digit-item:nth-child(8) .digit {
          transform: rotateZ(-240deg); }
      .clock .digit-list .digit-item:nth-child(9) {
        transform: rotateZ(270deg); }
        .clock .digit-list .digit-item:nth-child(9) .digit {
          transform: rotateZ(-270deg); }
      .clock .digit-list .digit-item:nth-child(10) {
        transform: rotateZ(300deg); }
        .clock .digit-list .digit-item:nth-child(10) .digit {
          transform: rotateZ(-300deg); }
      .clock .digit-list .digit-item:nth-child(11) {
        transform: rotateZ(330deg); }
        .clock .digit-list .digit-item:nth-child(11) .digit {
          transform: rotateZ(-330deg); }
      .clock .digit-list .digit-item:nth-child(12) {
        transform: rotateZ(360deg); }
        .clock .digit-list .digit-item:nth-child(12) .digit {
          transform: rotateZ(-360deg); }
      .clock .digit-list .digit-item .digit {
        display: block;
        font-size: 26px;
        font-weight: bold;
        color: #3f3f3f;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); }
  .clock .digit-list,
  .clock .minutes-container,
  .clock .hours-container,
  .clock .seconds-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  .clock .hours-container .hours {
    position: absolute;
    left: 48.75%;
    top: 30%;
    transform-origin: 50% 100%;
    height: 20%;
    width: 2.5%;
    background: #3a3a3a;
    animation: rotate 43200s infinite linear; }
  .clock .minutes-container .minutes {
    position: absolute;
    left: 49%;
    top: 10%;
    height: 40%;
    width: 2%;
    transform-origin: 50% 100%;
    background: #3a3a3a;
    animation: rotate 3600s steps(60) infinite; }
  .clock .seconds-container .seconds {
    position: absolute;
    left: 49.5%;
    top: 14%;
    width: 1%;
    height: 45%;
    transform-origin: 50% 80%;
    background: #3a3a3a;
    animation: rotate 60s steps(60) infinite; }

@keyframes rotate {
  100% {
    transform: rotateZ(360deg); } }

/*# sourceMappingURL=index.css.map */
